.card{
    margin: 25px;
}
.card time{
    color: #E94057;
}

.title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 15px;
}

.sub{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 15px;

}


.btn{
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.btn.main-btn{
    background-color: transparent;

    width : 128px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #DE6262;

}

.btn.main-btn:hover{

    background-color: #F27121;

}



