<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type = "text/css" href = "static/css/main.css"/>
    <title>Simple App For Finding Jobs On Reddit</title>
</head>
<body>
<div class = "main">
    <h1> Flask Job </h1>
  <h2> Simple App For Finding Jobs On Reddit.
  </h2>
  <form action = "/search" method = "GET">
    <label> Enter your search keywords </label> <br/>
      <div class="field">
  <div class="control">
    <input class="input is-primary" type="text" placeholder="Search jobs you want." name = "q">
  </div>
</div>
    <button class = "btn main-btn" type = "submit">Search</button>
  </form>

</div>
</body>
</html>